<!doctype html>
<html class="no-js" ng-app="herdit">
<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <!-- Bootstrap core CSS -->
    <link href="css/Fonts.css" rel="stylesheet">
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
</head>
<body>

<div class="body-container">
    <div class="background-album-art">
        <img src="images/album-background-image.jpg">
    </div>
    <div class="header-container">
        <div class="header">
            <div id="logo">  <img src="images/AngelHack_Herdit_03.png"></div>
        </div>
    </div>
    <div class="body" ng-controller="RoomCtrl">
        <div class="title-container">
            <h2>
                Welcome to<br>
                <span>Naomi’s Music Room</span>
            </h2>
            <hr class="subtle">
        </div>
        <div class="room">
            <div class="qd-tracks">
                <ul class="next-tracks">
                    <li>
                        <img src="images/album-middle-left-faded.png">
                        <h3>Magic</h3>
                    </li>
                    <li class="active">
                        <img src="images/current-track-left.png">
                        <h3>{{left.playing.title | limitTo: 15}}...</h3>
                    </li>
                </ul>
                <div class="vs">Vs</div>
                <ul class="next-tracks">
                    <li class="active">
                        <img src="images/current-track-left.png">
                        <h3>{{right.playing.title | limitTo: 15}}...</h3>
                    </li>
                    <li>
                        <img src="images/album-middle-left-faded.png">
                        <h3>Magic</h3>
                    </li>
                </ul>
            </div>
            <div class="clear"></div>
            <div class="dj-info-container">
                <div class="dj-info">
                    <div class="dj_profile"><img src="images/profile_pic.png"></div>
                    <ul class="dj-info">
                        <li class="title">Current DJ</li>
                        <li class="user_profile">Naomi Alexander</li>
                    </ul>
                    <div class="clear"></div>
                </div>
            </div>
            <div class="clear"></div>
            <div class="music-list-container">
                <div class="music-list">

                    <h3>Song List</h3>

                    <!--
                    <ul class="track-list">
                        <li>
                            <div class="cover-track">
                                <img src="http://i1.sndcdn.com/artworks-000021699433-neqkj3-large.jpg?30a2558">
                            </div>
                            <span class="track-info">
                                    Linkin Park
                            </span>
                            <span class="track-user">
                                By Simon Partridge
                            </span>
                            <div class="interact">
                                <div class="down_vote_one"><img src="images/Downvote_default.png"></div>
                                <div class="up_vote_one"><img src="images/Upvote_default.png"></div>
                                <span class="votes">125</span>
                            </div>
                            <div class="clear"></div>
                        </li>
                    </ul> -->
                    <ul class="track-list" ng-repeat="track in left.tracks">
                        <li>
                            <div class="cover-track">
                                <img class="track-cover" ng-src="{{track.scObj.artwork_url}}">
                            </div>
                            <span class="track-info">
                                {{track.title}}
                            </span>
                           <span class="track-user">
                                By Simon Partridge
                            </span>
                            <div class="interact">
                                <div class="down_vote_one"><img src="images/Downvote_default.png"></div>
                                <div class="up_vote_one"><img src="images/Upvote_default.png"></div>
                                <span class="votes">125</span>
                            </div>
                            <div class="clear"></div>
                        </li>
                    </ul>

                    <ul class="track-list" ng-repeat="track in right.tracks">
                        <li>
                            <div class="cover-track">
                                <img class="track-cover" ng-src="{{track.scObj.artwork_url}}">
                            </div>
                            <img class="track-cover" ng-src="">
                            <span class="track-info">
                                {{track.title}}
                            </span>
                           <span class="track-user">
                                By Simon Partridge
                            </span>
                            <div class="interact">
                                <div class="down_vote_one"><img src="images/Downvote_default.png"></div>
                                <div class="up_vote_one"><img src="images/Upvote_default.png"></div>
                                <span class="votes">125</span>
                            </div>
                            <div class="clear"></div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- build:js scripts/vendor.js -->
<!-- bower:js -->

<script src="//connect.soundcloud.com/sdk.js"></script>
<script>
    window.herditConfig = {
        clientId: '352f63e93ab9c0d611979736f1859264',
        redirectUri: "" 
    };
    SC.initialize({
        client_id: herditConfig.clientId,
        redirect_uri: herditConfig.redirectUri
    });
</script>
<script src="http://cdn.pubnub.com/pubnub.min.js"></script>
<script src="scripts/angular/angular.js"></script>
<script src="scripts/angular-route/angular-route.js"></script>
<script src="http://pubnub.github.io/angular-js/scripts/pubnub-angular.js"></script>
<!-- endbower -->
<!-- endbuild -->

<!-- build:js({.tmp,app}) scripts/scripts.js -->
<script src="scripts/app.js"></script>
<script src="scripts/controllers/main.js"></script>
<script src="scripts/controllers/about.js"></script>
<!-- endbuild -->
</body>
</html>
